.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: auto;
    max-width: 1184px;
    padding-top: 28px;
}

@media all and (max-width: 1279px) {
    .header {
        max-width: 928px;
    }
}

@media all and (max-width: 1023px) {
    .header {
        max-width: 720px;
    }
}

@media all and (max-width: 767px) {
    .header {
        max-width: 288px;
        padding-top: 16px;
    }
}
